In [1]:
import pandas as pd

In [7]:
df = pd.read_csv(r"C:\Users\bunyo\onedrive\desktop\AI_Course\ModularProgramProjects\Second_week_project\data\preprocessed_data\preprocessed_data.csv")

In [8]:
df.head()

,Lat_degrees,Long_degrees,Depth,Magnituda,Is_Shallow,Mag_Level,Type_mt,Type_origin
0,0.515238,0.850344,0.045153,0.381579,1.0,1,0.0,1.0
1,0.467380,0.854178,0.560425,0.500000,0.0,0,0.0,1.0
2,0.735053,0.582645,0.026560,0.197368,1.0,1,0.0,1.0
3,0.479788,0.287870,0.173971,0.631579,0.0,0,0.0,1.0
4,0.480274,0.288059,0.152722,0.657895,0.0,2,0.0,1.0

In [9]:
df['Mag_Level'].value_counts()

Mag_Level
1    5297
0    2972
2     819
Name: count, dtype: int64

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE


X = df.drop('Mag_Level', axis=1)
y = df['Mag_Level']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

smote = SMOTE(random_state=42)

X_train_balanced, y_train_balanced = smote.fit_resample(X_train, y_train)


print("Oversampledaan oldin:\n", y_train.value_counts())
print("\nOversamplingdan keyin:\n", y_train_balanced.value_counts())

Oversampledaan oldin:
 Mag_Level
1    4242
0    2376
2     652
Name: count, dtype: int64

Oversamplingdan keyin:
 Mag_Level
1    4242
0    4242
2    4242
Name: count, dtype: int64

In [11]:
df_train = X_train_balanced.copy()
df_train['Mag_Level'] = y_train_balanced

df_test = X_test.copy()
df_test['Mag_Level'] = y_test


df_final = pd.concat([df_train, df_test], axis=0, ignore_index=True)


df_final.head()

,Lat_degrees,Long_degrees,Depth,Magnituda,Is_Shallow,Type_mt,Type_origin,Mag_Level
0,0.872877,0.074628,0.164675,0.263158,0.0,0.0,1.0,1
1,0.524045,0.857874,0.257636,0.355263,0.0,0.0,1.0,1
2,0.585751,0.249455,0.033201,0.486842,1.0,0.0,1.0,0
3,0.415197,0.019317,0.019920,0.723684,1.0,1.0,0.0,2
4,0.724103,0.694454,0.017264,0.736842,1.0,0.0,1.0,2

In [13]:
df_final.info()

<class 'pandas.DataFrame'>
RangeIndex: 14544 entries, 0 to 14543
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Lat_degrees   14544 non-null  float64
 1   Long_degrees  14544 non-null  float64
 2   Depth         14544 non-null  float64
 3   Magnituda     14544 non-null  float64
 4   Is_Shallow    14544 non-null  float64
 5   Type_mt       14544 non-null  float64
 6   Type_origin   14544 non-null  float64
 7   Mag_Level     14544 non-null  int64
dtypes: float64(7), int64(1)
memory usage: 909.1 KB

# data ni saqlash

In [16]:
# C:\Users\bunyo\onedrive\desktop\AI_Course\ModularProgramProjects\Second_week_project\data\sampled_final_data

import os
path = r'C:\Users\bunyo\onedrive\desktop\AI_Course\ModularProgramProjects\Second_week_project\data\sampled_final_data'
os.makedirs(path, exist_ok=True)
#full_path = os.path.join(path, 'half_preparedd_data')

df_final.to_csv(path + r'\sampled_final_data.csv', index=False, encoding='utf-8')