In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\bunyo\OneDrive\Desktop\AI_Course\ModularProgramProjects\first_week_project\data\preprocessed_data\preprocessed_data.csv')

In [5]:
df.head()

,Rank,Score,Acedemik Reputation,Students,Citations_per_faculty,faculty_student_ratio,employer_reputation,employment_outcomes,international_faculty_ratio,sustainability_score,international_research_network,Score_class,Total_Reputation,Global_Connectivity
0,0.000000,1.000000,1.00000,0.915152,1.000000,1.000000,1.0,1.000000,1.000000,0.933045,0.940404,0,1.000000,0.972035
1,0.146835,0.992453,0.99596,1.000000,0.949495,0.992864,1.0,0.958502,1.000000,0.981641,0.974747,0,0.997949,0.989643
2,0.258228,0.986164,1.00000,0.732323,0.996970,1.000000,1.0,1.000000,0.941355,0.950324,0.964646,0,1.000000,0.954428
3,0.336709,0.973585,1.00000,0.985859,0.909091,1.000000,1.0,1.000000,0.987867,0.761339,1.000000,0,1.000000,0.996375
4,0.400000,0.971069,1.00000,0.812121,1.000000,0.982671,1.0,1.000000,0.788675,0.760259,0.993939,0,1.000000,0.891248

In [3]:
df['Score_class'].value_counts()

Score_class
1    658
4    266
2    165
0    104
3     86
Name: count, dtype: int64

# SMOTE bilan oversampling qilish

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE


X = df.drop('Score_class', axis=1)
y = df['Score_class']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

smote = SMOTE(random_state=42)

X_train_balanced, y_train_balanced = smote.fit_resample(X_train, y_train)


print("Oversampledaan oldin:\n", y_train.value_counts())
print("\nOversamplingdan keyin:\n", y_train_balanced.value_counts())

Oversampledaan oldin:
 Score_class
1    531
4    214
2    130
0     84
3     64
Name: count, dtype: int64

Oversamplingdan keyin:
 Score_class
2    531
1    531
0    531
4    531
3    531
Name: count, dtype: int64

In [9]:
X_train

,Rank,Score,Acedemik Reputation,Students,Citations_per_faculty,faculty_student_ratio,employer_reputation,employment_outcomes,international_faculty_ratio,sustainability_score,international_research_network,Total_Reputation,Global_Connectivity
351,0.154430,0.440252,0.458586,0.856566,0.448485,0.724771,0.235294,0.706478,0.940344,0.923326,0.936364,0.338462,0.939410
673,0.865823,0.129560,0.084848,0.682828,0.390909,0.711519,0.064909,0.082996,0.997978,0.301296,0.428283,0.062564,0.708441
741,0.916456,0.098113,0.254545,0.559596,0.079798,0.407747,0.216024,0.281377,0.144590,0.669546,0.750505,0.225128,0.436561
781,0.946835,0.080503,0.068687,0.558586,0.620202,0.190622,0.017241,0.028340,0.657230,0.323974,0.514141,0.030256,0.577939
158,0.541772,0.947170,0.998990,1.000000,0.807071,0.946993,0.993915,0.891700,0.995956,0.983801,0.998990,0.996410,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,0.544304,0.242767,0.298990,0.008081,0.011111,0.185525,0.150101,0.298583,0.624874,0.286177,0.089899,0.214359,0.343863
1095,0.554430,0.041509,0.051515,0.631313,0.103030,0.324159,0.076065,0.120445,0.620829,0.382289,0.245455,0.051282,0.421543
1130,0.007595,0.119497,0.147475,0.040404,0.059596,0.038736,0.219067,0.071862,0.066734,0.478402,0.445455,0.172308,0.240290
860,0.483544,0.115723,0.142424,0.229293,0.312121,0.233435,0.110548,0.472672,0.051567,0.602592,0.665657,0.114872,0.345417
1126,0.007595,0.012579,0.015152,0.945455,0.227273,0.241590,0.022312,0.183198,0.142568,0.377970,0.283838,0.005641,0.196271

# overSampled bolgan data ni birlashtiramiz

In [15]:
df_train = X_train_balanced.copy()
df_train['Score_class'] = y_train_balanced

df_test = X_test.copy()
df_test['Score_class'] = y_test


df_final = pd.concat([df_train, df_test], axis=0, ignore_index=True)


df_final.head()

,Rank,Score,Acedemik Reputation,Students,Citations_per_faculty,faculty_student_ratio,employer_reputation,employment_outcomes,international_faculty_ratio,sustainability_score,international_research_network,Total_Reputation,Global_Connectivity,Score_class
0,0.154430,0.440252,0.458586,0.856566,0.448485,0.724771,0.235294,0.706478,0.940344,0.923326,0.936364,0.338462,0.939410,2
1,0.865823,0.129560,0.084848,0.682828,0.390909,0.711519,0.064909,0.082996,0.997978,0.301296,0.428283,0.062564,0.708441,1
2,0.916456,0.098113,0.254545,0.559596,0.079798,0.407747,0.216024,0.281377,0.144590,0.669546,0.750505,0.225128,0.436561,1
3,0.946835,0.080503,0.068687,0.558586,0.620202,0.190622,0.017241,0.028340,0.657230,0.323974,0.514141,0.030256,0.577939,1
4,0.541772,0.947170,0.998990,1.000000,0.807071,0.946993,0.993915,0.891700,0.995956,0.983801,0.998990,0.996410,1.000000,0

# Class miqdorlari deyarli teng boldi oversamplingdan keyin(solishtirish)

In [16]:
df_final['Score_class'].value_counts()

Score_class
1    658
4    583
2    566
3    553
0    551
Name: count, dtype: int64

# Oversamplingdan oldingi xolat

In [18]:
df["Score_class"].value_counts()

Score_class
1    658
4    266
2    165
0    104
3     86
Name: count, dtype: int64

# overSampling qilingan datani saqlaymiz

In [20]:
import os
path = r'C:\Users\bunyo\OneDrive\Desktop\AI_Course\ModularProgramProjects\first_week_project\data_sampling'
os.makedirs(path, exist_ok=True)
#full_path = os.path.join(path, 'half_preparedd_data')

df_final.to_csv(path + r'\over_sampled_final_data.csv', index=False, encoding='utf-8')