In [1]:
import pandas as pd

In [15]:
df = pd.read_csv(r"C:\Users\bunyo\onedrive\desktop\AI_Course\ModularProgramProjects\Second_week_project\data\preprocessed_data\preprocessed_data.csv")

In [16]:
df

,Lat_degrees,Long_degrees,Depth,Magnituda,Is_Shallow,Mag_Level,Type_mt,Type_origin
0,0.515238,0.850344,0.045153,0.381579,1.0,1,0.0,1.0
1,0.467380,0.854178,0.560425,0.500000,0.0,0,0.0,1.0
2,0.735053,0.582645,0.026560,0.197368,1.0,1,0.0,1.0
3,0.479788,0.287870,0.173971,0.631579,0.0,0,0.0,1.0
4,0.480274,0.288059,0.152722,0.657895,0.0,2,0.0,1.0
...,...,...,...,...,...,...,...,...
9083,0.789113,0.520375,0.009296,0.157895,1.0,1,0.0,1.0
9084,0.726350,0.568514,0.046481,0.289474,1.0,1,0.0,1.0
9085,0.609394,0.237202,0.147410,0.513158,0.0,0,0.0,1.0
9086,0.497686,0.282739,0.219124,0.473684,0.0,0,0.0,1.0
9087,0.874906,0.112315,0.010624,0.276316,1.0,1,0.0,1.0

In [17]:
df["Mag_Level"].value_counts()

Mag_Level
1    5297
0    2972
2     819
Name: count, dtype: int64

In [10]:
df2 = pd.read_csv(r"C:\Users\bunyo\onedrive\desktop\AI_Course\ModularProgramProjects\Second_week_project\data\engineered_data\engineered_data.csv")

In [13]:
df2

,Lat_degrees,Long_degrees,Depth,Type,Magnituda,Is_Shallow,Mag_Level
0,1.230,126.100,31,origin,3.0,1,safe
1,-6.650,127.480,419,origin,3.9,0,dangerous
2,37.423,29.746,17,origin,1.6,1,safe
3,-4.607,-76.353,128,origin,4.9,0,dangerous
4,-4.527,-76.285,112,origin,5.1,0,very deangerous
...,...,...,...,...,...,...,...
9083,46.324,7.333,4,origin,1.3,1,safe
9084,35.990,24.660,32,origin,2.3,1,safe
9085,16.733,-94.590,108,origin,4.0,0,dangerous
9086,-1.660,-78.200,162,origin,3.7,0,dangerous
9087,60.450,-139.541,5,origin,2.2,1,safe

In [14]:
df['Type_mt'].value_counts()

Type_mt
0.0    8893
1.0     195
Name: count, dtype: int64