In [9]:
import pandas as pd

In [14]:
path = r"C:\Users\bunyo\onedrive\desktop\AI_Course\ModularProgramProjects\Second_week_project\data\scrapped_data\earthquake.csv"
df = pd.read_csv(path)
df

,Date,Location,Lat_degrees,Long_degrees,Depth,Type,Magnituda,Network
0,2026-02-22 06:58:41.0,MOLUCCA SEA,1.230,126.100,31,origin,3.0,BMKG*
1,2026-02-22 06:57:13.0,BANDA SEA,-6.650,127.480,419,origin,3.9,BMKG*
2,2026-02-22 06:49:01.9,WESTERN TURKEY,37.423,29.746,17,origin,1.6,KOERI
3,2026-02-22 06:43:54.5,NORTHERN PERU,-4.607,-76.353,128,origin,4.9,GFZ
4,2026-02-22 06:43:54.2,NORTHERN PERU,-4.527,-76.285,112,origin,5.1,SC4
...,...,...,...,...,...,...,...,...
9083,2026-02-10 08:37:06.6,SWITZERLAND,46.324,7.333,4,origin,1.3,ETHZ*
9084,2026-02-10 08:29:54.6,"CRETE, GREECE",35.990,24.660,32,origin,2.3,THE*
9085,2026-02-10 08:23:31.0,"OAXACA, MEXICO",16.733,-94.590,108,origin,4.0,UNM*
9086,2026-02-10 08:20:44.5,ECUADOR,-1.660,-78.200,162,origin,3.7,QUI*
9087,2026-02-10 08:19:58.3,"SOUTHERN YUKON TERRITORY, CANADA",60.450,-139.541,5,origin,2.2,AK

In [16]:
df[df["Magnituda"]>6.6]

,Date,Location,Lat_degrees,Long_degrees,Depth,Type,Magnituda,Network
6086,2026-02-14 02:27:38.5,VANUATU,-13.418,167.663,10,origin,6.9,RSSC
7634,2026-02-12 03:01:12.4,OFF EAST COAST OF KAMCHATKA,53.207,161.994,10,origin,7.5,MET
7658,2026-02-12 01:53:50.1,"MINDANAO, PHILIPPINES",7.601,126.725,76,origin,7.3,MET
7670,2026-02-12 01:39:00.8,MYANMAR,20.690,97.116,10,origin,7.3,MET
8459,2026-02-11 03:31:38.6,OFF EAST COAST OF KAMCHATKA,53.428,163.055,10,origin,7.7,MET