In [1]:
import pandas as pd

In [2]:
path = r"C:\Users\bunyo\onedrive\desktop\AI_Course\ModularProgramProjects\Second_week_project\data\scrapped_data\earthquake.csv"
df = pd.read_csv(path)
df

,Date,Location,Lat_degrees,Long_degrees,Depth,Type,Magnituda,Network
0,2026-02-22 06:58:41.0,MOLUCCA SEA,1.230,126.100,31,origin,3.0,BMKG*
1,2026-02-22 06:57:13.0,BANDA SEA,-6.650,127.480,419,origin,3.9,BMKG*
2,2026-02-22 06:49:01.9,WESTERN TURKEY,37.423,29.746,17,origin,1.6,KOERI
3,2026-02-22 06:43:54.5,NORTHERN PERU,-4.607,-76.353,128,origin,4.9,GFZ
4,2026-02-22 06:43:54.2,NORTHERN PERU,-4.527,-76.285,112,origin,5.1,SC4
...,...,...,...,...,...,...,...,...
9083,2026-02-10 08:37:06.6,SWITZERLAND,46.324,7.333,4,origin,1.3,ETHZ*
9084,2026-02-10 08:29:54.6,"CRETE, GREECE",35.990,24.660,32,origin,2.3,THE*
9085,2026-02-10 08:23:31.0,"OAXACA, MEXICO",16.733,-94.590,108,origin,4.0,UNM*
9086,2026-02-10 08:20:44.5,ECUADOR,-1.660,-78.200,162,origin,3.7,QUI*
9087,2026-02-10 08:19:58.3,"SOUTHERN YUKON TERRITORY, CANADA",60.450,-139.541,5,origin,2.2,AK

In [4]:
df['Is_Shallow'] = (df['Depth'] < 70).astype(int)

In [5]:
df

,Date,Location,Lat_degrees,Long_degrees,Depth,Type,Magnituda,Network,Is_Shallow
0,2026-02-22 06:58:41.0,MOLUCCA SEA,1.230,126.100,31,origin,3.0,BMKG*,1
1,2026-02-22 06:57:13.0,BANDA SEA,-6.650,127.480,419,origin,3.9,BMKG*,0
2,2026-02-22 06:49:01.9,WESTERN TURKEY,37.423,29.746,17,origin,1.6,KOERI,1
3,2026-02-22 06:43:54.5,NORTHERN PERU,-4.607,-76.353,128,origin,4.9,GFZ,0
4,2026-02-22 06:43:54.2,NORTHERN PERU,-4.527,-76.285,112,origin,5.1,SC4,0
...,...,...,...,...,...,...,...,...,...
9083,2026-02-10 08:37:06.6,SWITZERLAND,46.324,7.333,4,origin,1.3,ETHZ*,1
9084,2026-02-10 08:29:54.6,"CRETE, GREECE",35.990,24.660,32,origin,2.3,THE*,1
9085,2026-02-10 08:23:31.0,"OAXACA, MEXICO",16.733,-94.590,108,origin,4.0,UNM*,0
9086,2026-02-10 08:20:44.5,ECUADOR,-1.660,-78.200,162,origin,3.7,QUI*,0
9087,2026-02-10 08:19:58.3,"SOUTHERN YUKON TERRITORY, CANADA",60.450,-139.541,5,origin,2.2,AK,1

In [12]:
df['Mag_Level'] = pd.cut(df['Magnituda'], bins=[0, 3, 5, 8], labels=['safe', 'dangerous', 'very deangerous'])

In [17]:
df['Mag_Level'].value_counts()

Mag_Level
safe               5218
dangerous          2972
very deangerous     819
Name: count, dtype: int64

In [20]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 9088 entries, 0 to 9087
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          9088 non-null   str
 1   Location      9088 non-null   str
 2   Lat_degrees   9087 non-null   float64
 3   Long_degrees  9088 non-null   float64
 4   Depth         9088 non-null   int64
 5   Type          9088 non-null   str
 6   Magnituda     9009 non-null   float64
 7   Network       9088 non-null   str
 8   Is_Shallow    9088 non-null   int64
 9   Mag_Level     9009 non-null   category
dtypes: category(1), float64(3), int64(2), str(4)
memory usage: 648.1 KB

In [21]:
df2 = df.dropna()

In [22]:
df2.info()

<class 'pandas.DataFrame'>
Index: 9008 entries, 0 to 9087
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          9008 non-null   str
 1   Location      9008 non-null   str
 2   Lat_degrees   9008 non-null   float64
 3   Long_degrees  9008 non-null   float64
 4   Depth         9008 non-null   int64
 5   Type          9008 non-null   str
 6   Magnituda     9008 non-null   float64
 7   Network       9008 non-null   str
 8   Is_Shallow    9008 non-null   int64
 9   Mag_Level     9008 non-null   category
dtypes: category(1), float64(3), int64(2), str(4)
memory usage: 712.7 KB