In [1]:
import pandas as pd

In [42]:
df = pd.read_csv(r"C:\Users\bunyo\OneDrive\Desktop\AI_Course\ModularProgramProjects\first_week_project\web_scraping\scraped_data.csv")

In [43]:
df

,Rank,Score,Name,Location,Acedemik Reputation,Students,Citations_per_faculty,faculty_student_ratio,employer_reputation,employment_outcomes,international_faculty_ratio,sustainability_score,international_research_network
0,1,100.0,Massachusetts Institute of Technology (MIT),United States,100.0,91.6,100.0,100.0,100.0,100.0,100.0,93.8,94.1
1,2,99.4,Imperial College London,United Kingdom,99.6,100.0,95.0,99.3,100.0,95.9,100.0,98.3,97.5
2,3,98.9,Stanford University,United States,100.0,73.5,99.7,100.0,100.0,100.0,94.2,95.4,96.5
3,4,97.9,University of Oxford,United Kingdom,100.0,98.6,91.0,100.0,100.0,100.0,98.8,77.9,100.0
4,5,97.7,Harvard University,United States,100.0,81.4,100.0,98.3,100.0,100.0,79.1,77.8,99.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,\n 1001-1200\n ...,NaN,Warsaw University of Life Sciences SGGW (WULS...,Poland,8.0,11.9,14.6,23.1,7.9,7.1,2.4,42.6,67.5
1346,\n 1001-1200\n ...,NaN,West Virginia University,United States,6.4,8.8,28.4,15.0,7.5,21.4,8.3,44.6,66.9
1347,\n 1001-1200\n ...,NaN,Xi'an Jiaotong Liverpool University,China (Mainland),5.9,5.2,12.0,8.1,5.4,1.3,95.2,44.0,45.9
1348,\n 1001-1200\n ...,NaN,Yerevan State University,Armenia,8.7,3.0,1.9,64.8,6.0,90.0,8.7,13.3,21.2
1349,\n 1001-1200\n ...,NaN,Yokohama City University,Japan,3.3,6.0,19.0,96.7,3.7,3.5,7.2,14.5,15.0

In [14]:
inx = df[df['Score'].isnull()].index[0]
df.iloc[inx-3::]

,Rank,Score,Name,Location,Acedemik Reputation,Students,Citations_per_faculty,faculty_student_ratio,employer_reputation,employment_outcomes,international_faculty_ratio,sustainability_score,international_research_network
852,\n =697\n ...,25.1,Universidad de Alcalá (Madrid),Spain,13.8,50.9,10.8,72.5,10.2,11.8,11.8,72.1,79.4
853,\n =697\n ...,25.1,University of Klagenfurt,Austria,7.2,94.8,16.4,57.4,5.8,13.6,98.2,36.3,43.9
854,\n =697\n ...,25.1,"University of Missouri, Columbia",United States,17.2,6.4,23.5,38.5,15.7,48.0,29.7,50.9,71.8
855,\n 701-710\n ...,NaN,Jeonbuk National University,South Korea,19.9,16.5,21.4,73.7,14.2,3.5,12.5,64.6,34.0
856,\n 701-710\n ...,NaN,Kasetsart University,Thailand,37.4,1.7,4.6,10.3,37.1,31.2,7.7,60.8,46.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,\n 1001-1200\n ...,NaN,Warsaw University of Life Sciences SGGW (WULS...,Poland,8.0,11.9,14.6,23.1,7.9,7.1,2.4,42.6,67.5
1346,\n 1001-1200\n ...,NaN,West Virginia University,United States,6.4,8.8,28.4,15.0,7.5,21.4,8.3,44.6,66.9
1347,\n 1001-1200\n ...,NaN,Xi'an Jiaotong Liverpool University,China (Mainland),5.9,5.2,12.0,8.1,5.4,1.3,95.2,44.0,45.9
1348,\n 1001-1200\n ...,NaN,Yerevan State University,Armenia,8.7,3.0,1.9,64.8,6.0,90.0,8.7,13.3,21.2
1349,\n 1001-1200\n ...,NaN,Yokohama City University,Japan,3.3,6.0,19.0,96.7,3.7,3.5,7.2,14.5,15.0

In [44]:
df['Rank'] = df['Rank'].str.strip()

In [45]:
df['Rank']

0               1
1               2
2               3
3               4
4               5
          ...
1345    1001-1200
1346    1001-1200
1347    1001-1200
1348    1001-1200
1349    1001-1200
Name: Rank, Length: 1350, dtype: str

In [48]:
df['Acedemik Reputation']

0       100.0
1        99.6
2       100.0
3       100.0
4       100.0
        ...
1345      8.0
1346      6.4
1347      5.9
1348      8.7
1349      3.3
Name: Acedemik Reputation, Length: 1350, dtype: float64

In [50]:
import numpy as np

# Ustun nomlari aniq bo'lishi uchun o'zgaruvchilarga olamiz
# (O'zingizdagi aniq ustun nomlarini yozing, masalan 'Universitet Score' va 'Rank Score')
score_col = 'Score'
rank_col = 'Acedemik Reputation'

# 1. Ikkala ustunda ham ma'lumoti bor (NaN bo'lmagan) dastlabki 750 ta qatorni ajratib olamiz
valid_data = df.dropna(subset=[score_col, rank_col])

x_valid = valid_data[rank_col]
y_valid = valid_data[score_col]

# 2. Ikkala ustun o'rtasidagi matematik bog'liqlikni (trendni) topamiz
# 1 raqami chiziqli bog'liqlik (to'g'ri chiziq) ekanligini bildiradi
trend_modeli = np.polyfit(x_valid, y_valid, 1)
hisoblash_formulasi = np.poly1d(trend_modeli)

# 3. 'Universitet Score' da NaN bo'lgan qatorlar indeksini topamiz
nan_indekslar = df[score_col].isnull()

# 4. Shu qatorlardagi 'Rank Score' asosida yangi score'larni hisoblab, df ga joylaymiz
df.loc[nan_indekslar, score_col] = hisoblash_formulasi(df.loc[nan_indekslar, rank_col])

# Natijani tekshiramiz
print(df[[rank_col, score_col]])

      Acedemik Reputation       Score
0                   100.0  100.000000
1                    99.6   99.400000
2                   100.0   98.900000
3                   100.0   97.900000
4                   100.0   97.700000
...                   ...         ...
1345                  8.0   25.066551
1346                  6.4   24.021147
1347                  5.9   23.694458
1348                  8.7   25.523915
1349                  3.3   21.995677

[1350 rows x 2 columns]

In [54]:
df

,Rank,Score,Name,Location,Acedemik Reputation,Students,Citations_per_faculty,faculty_student_ratio,employer_reputation,employment_outcomes,international_faculty_ratio,sustainability_score,international_research_network
0,1,100.000000,Massachusetts Institute of Technology (MIT),United States,100.0,91.6,100.0,100.0,100.0,100.0,100.0,93.8,94.1
1,2,99.400000,Imperial College London,United Kingdom,99.6,100.0,95.0,99.3,100.0,95.9,100.0,98.3,97.5
2,3,98.900000,Stanford University,United States,100.0,73.5,99.7,100.0,100.0,100.0,94.2,95.4,96.5
3,4,97.900000,University of Oxford,United Kingdom,100.0,98.6,91.0,100.0,100.0,100.0,98.8,77.9,100.0
4,5,97.700000,Harvard University,United States,100.0,81.4,100.0,98.3,100.0,100.0,79.1,77.8,99.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345,1001-1200,25.066551,Warsaw University of Life Sciences SGGW (WULS...,Poland,8.0,11.9,14.6,23.1,7.9,7.1,2.4,42.6,67.5
1346,1001-1200,24.021147,West Virginia University,United States,6.4,8.8,28.4,15.0,7.5,21.4,8.3,44.6,66.9
1347,1001-1200,23.694458,Xi'an Jiaotong Liverpool University,China (Mainland),5.9,5.2,12.0,8.1,5.4,1.3,95.2,44.0,45.9
1348,1001-1200,25.523915,Yerevan State University,Armenia,8.7,3.0,1.9,64.8,6.0,90.0,8.7,13.3,21.2
1349,1001-1200,21.995677,Yokohama City University,Japan,3.3,6.0,19.0,96.7,3.7,3.5,7.2,14.5,15.0

In [53]:
df.isnull().sum()

Rank                               0
Score                              0
Name                               0
Location                           1
Acedemik Reputation                0
Students                          22
Citations_per_faculty              0
faculty_student_ratio              0
employer_reputation                0
employment_outcomes                0
international_faculty_ratio       56
sustainability_score              15
international_research_network     2
dtype: int64