# kerakli kutubxonalarni chaqiramiz

In [1]:
import pandas as pd
import numpy as np

from joblib import dump
import os

from sklearn.metrics import r2_score, mean_absolute_error, root_mean_squared_error

from sklearn.model_selection import train_test_split, KFold,cross_val_score
from sklearn.feature_selection import RFE

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import NearestNeighbors
from xgboost import XGBRegressor

Xgb_Reg = XGBRegressor()
N_neig = NearestNeighbors()
DT_Reg = DecisionTreeRegressor()
RF_Reg = RandomForestRegressor()
SV_Reg = SVC()
LR_Reg = LogisticRegression()

In [2]:
df = pd.read_csv(r"C:\Users\bunyo\OneDrive\Desktop\AI_Course\ModularProgramProjects\FirstWeekProject\data\preprocessed_data\preprocessed_data.csv")

In [3]:
df.head()

,WIND,IND,RAIN,IND.1,T.MAX,IND.2,T.MIN,T.MIN.G,Year,Month,Day,T_AVG,IS_RAINIY,IS_FROST
0,13.67,0.0,0.002985,0.0,0.356877,0.00,0.515254,0.443709,0.0,0.0,0.000000,0.439104,1.0,0.0
1,11.50,0.0,0.076119,0.0,0.271375,0.00,0.532203,0.513245,0.0,0.0,0.033333,0.320144,1.0,0.0
2,11.25,0.0,0.005970,0.0,0.208178,0.00,0.406780,0.460265,0.0,0.0,0.066667,0.392398,1.0,0.0
3,8.63,0.0,0.002985,0.0,0.211896,0.00,0.403390,0.370861,0.0,0.0,0.100000,0.400650,1.0,0.0
4,11.92,0.0,0.155224,0.0,0.271375,0.25,0.338983,0.228477,0.0,0.0,0.133333,0.544500,1.0,0.0

# filter orqali kerakli feature larni olamiz

In [4]:
corr_df = df.corr()['WIND']

In [5]:
corr_df

WIND         1.000000
IND         -0.038578
RAIN         0.120876
IND.1        0.070227
T.MAX       -0.230302
IND.2        0.047666
T.MIN       -0.087851
T.MIN.G      0.012424
Year        -0.069690
Month       -0.066635
Day          0.000502
T_AVG       -0.248393
IS_RAINIY    0.273508
IS_FROST          NaN
Name: WIND, dtype: float64

In [6]:
corr_df1 = corr_df[abs(corr_df) > 0.05] 
corr_df1

WIND         1.000000
RAIN         0.120876
IND.1        0.070227
T.MAX       -0.230302
T.MIN       -0.087851
Year        -0.069690
Month       -0.066635
T_AVG       -0.248393
IS_RAINIY    0.273508
Name: WIND, dtype: float64

In [7]:
df1 = df[corr_df1.index]

# Engineered qilingan data ni saqlab qoyamiz

In [8]:
import os

folder = r"C:\Users\bunyo\OneDrive\Desktop\AI_Course\ModularProgramProjects\FirstWeekProject\data\engineered_data"
path = os.path.join(folder,'engineered_data.csv')
df1.to_csv(path, index=False)

# ----------------------------------------------------------------------

# datasetni ajratamiz

In [9]:
x = df1.drop('WIND', axis=1)
y = df1['WIND']

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=99)

# Data ni alorithmlar bilan train qilamiz

# --------------------------------------------------------------

# XGBoost

In [12]:
grBoost = GradientBoostingRegressor(n_estimators=199, max_depth=4, random_state=99)

Rfe = RFE(grBoost, n_features_to_select=7)
Rfe.fit(x_train, y_train)
SelectedFeatures = x_train.columns[Rfe.support_]

grBoost.fit(x_train[SelectedFeatures], y_train)
pred1 = grBoost.predict(x_test[SelectedFeatures])

print(f"R2 = {r2_score(y_test,pred1)}")
print(f"MAE = {mean_absolute_error(y_test, pred1)}")

R2 = 0.22364848359292833
MAE = 3.382186849411013

# Random forest

In [13]:
Rfe = RFE(RF_Reg, n_features_to_select=7) 
Rfe.fit(x_train, y_train)
selected_features = x_train.columns[Rfe.support_]

RF_Reg.fit(x_train[selected_features], y_train)
pred3 = RF_Reg.predict(x_test[selected_features])

print(f"R2 = {r2_score(y_test,pred3)}")
print(f"MAE = {mean_absolute_error(y_test, pred3)}")

R2 = 0.19408638940457545
MAE = 3.4552327132155933

# Desicion tree

In [16]:
Rfe = RFE(DT_Reg, n_features_to_select=8)
Rfe.fit(x_train, y_train)
selected_features = x_train.columns[Rfe.support_]

DT_Reg.fit(x_train[selected_features], y_train)
pred4 = DT_Reg.predict(x_test[selected_features])

print(f"R2 = {r2_score(y_test,pred4)}")
print(f"MAE = {mean_absolute_error(y_test, pred4)}")

R2 = -0.4946513777524344
MAE = 4.638823338617445

# -------------------------------------------------------------------------------

# Xulosa: Feature Engineering qilingan data bilan model juda yomon ishladi, shuning uchun preprocessed qilingan data bilan ishlandi

# -------------------------------------------------------------------------------

In [17]:
df = pd.read_csv(r"C:\Users\bunyo\OneDrive\Desktop\AI_Course\ModularProgramProjects\FirstWeekProject\data\preprocessed_data\preprocessed_data.csv")

In [18]:
df.head()

,WIND,IND,RAIN,IND.1,T.MAX,IND.2,T.MIN,T.MIN.G,Year,Month,Day,T_AVG,IS_RAINIY,IS_FROST
0,13.67,0.0,0.002985,0.0,0.356877,0.00,0.515254,0.443709,0.0,0.0,0.000000,0.439104,1.0,0.0
1,11.50,0.0,0.076119,0.0,0.271375,0.00,0.532203,0.513245,0.0,0.0,0.033333,0.320144,1.0,0.0
2,11.25,0.0,0.005970,0.0,0.208178,0.00,0.406780,0.460265,0.0,0.0,0.066667,0.392398,1.0,0.0
3,8.63,0.0,0.002985,0.0,0.211896,0.00,0.403390,0.370861,0.0,0.0,0.100000,0.400650,1.0,0.0
4,11.92,0.0,0.155224,0.0,0.271375,0.25,0.338983,0.228477,0.0,0.0,0.133333,0.544500,1.0,0.0

# dataset ni ajratamiz

In [19]:
x = df.drop('WIND',axis=1)
y = df['WIND']

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=99)

# Gradient Boosting

In [21]:
grBoost = GradientBoostingRegressor(n_estimators=500,learning_rate=0.05, max_depth=4, random_state=99)

Rfe = RFE(grBoost, n_features_to_select=5)
Rfe.fit(x_train, y_train)
SelectedFeatures = x_train.columns[Rfe.support_]

grBoost.fit(x_train[SelectedFeatures], y_train)
pred1 = grBoost.predict(x_test[SelectedFeatures])

print(f"R2 = {r2_score(y_test,pred1)}")
print(f"MAE = {mean_absolute_error(y_test, pred1)}")

R2 = 0.19738129272194038
MAE = 3.4212559238075317

# XGBoost

In [22]:
Rfe = RFE(Xgb_Reg, n_features_to_select=10)
Rfe.fit(x_train, y_train)
selected_features = x_train.columns[Rfe.support_]

Xgb_Reg.fit(x_train[selected_features], y_train)
pred2 = Xgb_Reg.predict(x_test[selected_features])

print(f"R2 = {r2_score(y_test,pred2)}")
print(f"MAE = {mean_absolute_error(y_test, pred2)}")

R2 = 0.22715567962875027
MAE = 3.3461657725323297

# Random forest

In [23]:
Rfe = RFE(RF_Reg, n_features_to_select=7) 
Rfe.fit(x_train, y_train)
selected_features = x_train.columns[Rfe.support_]

RF_Reg.fit(x_train[selected_features], y_train)
pred3 = RF_Reg.predict(x_test[selected_features])

print(f"R2 = {r2_score(y_test,pred3)}")
print(f"MAE = {mean_absolute_error(y_test, pred3)}")

R2 = 0.2487204824895779
MAE = 3.2921432699619775

# Decision tree

In [25]:
Rfe = RFE(DT_Reg, n_features_to_select=5)
Rfe.fit(x_train, y_train)
selected_features = x_train.columns[Rfe.support_]

DT_Reg.fit(x_train[selected_features], y_train)
pred4 = DT_Reg.predict(x_test[selected_features])

print(f"R2 = {r2_score(y_test,pred4)}")
print(f"MAE = {mean_absolute_error(y_test, pred4)}")

R2 = -0.7625570447828673
MAE = 5.05741825095057

In [27]:
from tabulate import tabulate

In [28]:
results = [
   
    ['Decision Tree', '-0.76','5.05'],
    ['Random Forest', '0.24','3.29'],
    ['Gradient Boosting', '0.19','3.42'],
    ['XGBoost', '0.22','3.35']
]

headers = ['Algorithm', 'R2','MAE']

table = tabulate(results, headers=headers, tablefmt='fancy_grid', floatfmt='.2f')

print(table)

╒═══════════════════╤═══════╤═══════╕
│ Algorithm         │    R2 │   MAE │
╞═══════════════════╪═══════╪═══════╡
│ Decision Tree     │ -0.76 │  5.05 │
├───────────────────┼───────┼───────┤
│ Random Forest     │  0.24 │  3.29 │
├───────────────────┼───────┼───────┤
│ Gradient Boosting │  0.19 │  3.42 │
├───────────────────┼───────┼───────┤
│ XGBoost           │  0.22 │  3.35 │
╘═══════════════════╧═══════╧═══════╛

# Xulosa: Dataset bilan qandaydir xatolik bor yoki model bilan, chunki model juda yomon ishlayapti

In [76]:
dump(grBoost, 'Gradient boosting.joblib')
dump(DT_Reg, 'Random_Forest.joblib')

['Random_Forest.joblib']

In [29]:
with open("jadval.csv", "w", encoding="utf-8") as f:
    f.write(table)