# Data bilan tanishamiz

In [1]:
import pandas as pd

In [11]:
df = pd.read_csv(r"C:\Users\bunyo\OneDrive\Desktop\AI_Course\ModularProgramProjects\FirstWeekProject\data\raw_data\wind_dataset.csv")

In [12]:
df.sample(10)

            DATE   WIND  IND  RAIN  IND.1  T.MAX  IND.2  T.MIN  T.MIN.G
2691  1968-05-15  16.58    0   0.0    0.0   17.0    0.0    9.0      9.5
312   1961-11-09   8.21    0   0.0    0.0    9.5    1.0   -1.0     -6.3
2494  1967-10-31  14.46    0   3.4    0.0   10.0    0.0    5.0     -2.5
5595  1976-04-27   9.59    0   0.0    0.0   10.0    0.0    6.5      3.4
1320  1964-08-13   5.09    0   0.0    0.0   17.1    0.0   12.7     10.5
5682  1976-07-23   8.96    0   0.0    0.0   18.5    0.0   12.2     11.3
5840  1976-12-28   7.58    0   0.1    0.0    4.1    1.0   -1.8     -7.6
943   1963-08-02   4.08    0   0.0    0.0   20.3    0.0   10.0      5.5
5943  1977-04-10  13.83    0   1.9    0.0   11.1    0.0    4.8      2.2
245   1961-09-03   5.88    0   0.0    0.0   16.1    0.0   13.7     13.7

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     6574 non-null   object
 1   WIND     6574 non-null   float64
 2   IND      6574 non-null   int64
 3   RAIN     6574 non-null   float64
 4   IND.1    6513 non-null   float64
 5   T.MAX    5953 non-null   float64
 6   IND.2    6513 non-null   float64
 7   T.MIN    5900 non-null   float64
 8   T.MIN.G  6214 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 462.4+ KB

In [14]:
df.isnull().sum()

DATE         0
WIND         0
IND          0
RAIN         0
IND.1       61
T.MAX      621
IND.2       61
T.MIN      674
T.MIN.G    360
dtype: int64